<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>
    <form action="/new-folder" method="post">
      <input
        type="text"
        name="name"
        placeholder="Folder Name"
        required
        autocomplete="on"
      />
      <button type="submit">Create Folder</button>
    </form>

    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" />
      <button type="submit">Upload</button>
    </form>

    <form action="/logout" method="post">
      <button type="submit">Log out</button>
    </form>

    <% folders.forEach(folder => { %>
    <h4><%= folder.name %></h4>
    <form action="/folder/<%= folder.id %>?_method=DELETE" method="post">
      <button type="submit">Delete</button>
    </form>
    <% }) %>
  </body>
</html>
